@*
Copyright 2021 Romain Ducher

This file is part of Cielo.NET Razor.

Cielo.NET Razor is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cielo.NET Razor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.
*@

@typeparam Tday

<div class="@((this as IRootClass).CssClasses)">
	<ul id="@TabsID" class="@(RootClass)__tab-navs nav nav-tabs">
		<li class="@(RootClass)__tab-nav nav-item">
			<a class="@(RootClass)__tab-link nav-link" href="#@MatchesTabID" data-toggle="tab">Matches</a>
		</li>
		<li class="@(RootClass)__tab-nav nav-item">
			<a class="@(RootClass)__tab-link nav-link" href="#@StandingsTabID" data-toggle="tab">Classement</a>
		</li>
	</ul>
	<div id="@(TabsID)Content" class="@(RootClass)__tab-panes">
		<div class="@(RootClass)__tab-pane tab-pane" id="@MatchesTabID">
			<MatchList Matches="@MatchDay.Matches" OtherClasses="@(new string[] { MatchListClass })" />
		</div>
		<div class="@(RootClass)__tab-pane tab-pane" id="@StandingsTabID">
			<StandingsTable Standings="@MatchDay.StandingsAfter" OtherClasses="@(new string[] { StandingsClass })" />
		</div>
	</div>
</div>
