/// @section LICENSE
///
/// Copyright 2021 Romain Ducher
///
/// This file is part of Cielo.NET Razor.
///
/// Cielo.NET Razor is free software: you can redistribute it and/or modify
/// it under the terms of the GNU Lesser General Public License as published by
/// the Free Software Foundation, either version 3 of the License, or
/// (at your option) any later version.
///
/// Cielo.NET Razor is distributed in the hope that it will be useful,
/// but WITHOUT ANY WARRANTY; without even the implied warranty of
/// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
/// GNU Lesser General Public License for more details.
///
/// You should have received a copy of the GNU Lesser General Public License
/// along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.

$_home-area: home;
$_score-area: score;
$_away-area: away;
$_unit-margin: 5px;

.match {
	display: grid;
	grid-template: "#{$_home-area} #{$_score-area} #{$_away-area}" / 1fr auto 1fr;

	margin: 0px;
	padding: 0px;

	> * {
		margin: 0px;
		padding: $_unit-margin;
	}

	&__team {
		&-home {
			grid-area: $_home-area;
			text-align: left;
		}
		&-away {
			grid-area: $_away-area;
			text-align: right;
		}
	}

	&__score {
		grid-area: $_score-area;
		text-align: center;
		font-weight: bold;
	}
}
