@*
Copyright 2021 Romain Ducher

This file is part of Cielo.NET Razor.

Cielo.NET Razor is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cielo.NET Razor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.
*@

<div class="@((this as IRootClass).CssClasses)">
	<p class="@(RootClass)__team @(RootClass)__team-home">@Match.Home.Team.Name</p>
	<p class="@(RootClass)__score">@Match.Home.Goals - @Match.Away.Goals</p>
	<p class="@(RootClass)__team @(RootClass)__team-away">@Match.Away.Team.Name</p>
</div>
