/// @section LICENSE
///
/// Copyright 2021 Romain Ducher
///
/// This file is part of Cielo.NET Razor.
///
/// Cielo.NET Razor is free software: you can redistribute it and/or modify
/// it under the terms of the GNU Lesser General Public License as published by
/// the Free Software Foundation, either version 3 of the License, or
/// (at your option) any later version.
///
/// Cielo.NET Razor is distributed in the hope that it will be useful,
/// but WITHOUT ANY WARRANTY; without even the implied warranty of
/// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
/// GNU Lesser General Public License for more details.
///
/// You should have received a copy of the GNU Lesser General Public License
/// along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.

$_unit-margin: 5px;
$_bgcolor-even: whitesmoke;
$_bgcolor-odd: white;

.match-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	overflow-y: auto;

	&__no-match {
		margin: 0px;
		padding: $_unit-margin;
	}

	> .match {
		&:nth-child(even) {
			background-color: $_bgcolor-even;
		}

		&:nth-child(odd) {
			background-color: $_bgcolor-odd;
		}
	}
}
