@*
Copyright 2021 Romain Ducher

This file is part of Cielo.NET Razor.

Cielo.NET Razor is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cielo.NET Razor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.
*@

@typeparam Tday

@{
	LinkedList<string> otherClasses = new LinkedList<string>();
}

<div class="@((this as IRootClass).CssClasses)">
	<div class="@(RootClass)__prev-group @(RootClass)__btn-group btn-group" @onclick="goStart" disabled="@StartDisabled">
		@*<button class="@(RootClass)__btn-far @(RootClass)__btn btn">
			<i class="fas fa-angle-double-left"></i>
		</button>*@

		@{
			otherClasses.Clear();
			otherClasses.AddLast($"{RootClass}__btn-far");
			otherClasses.AddLast($"{RootClass}__btn");
		}

		<MatchDayHeaderButton OnClick="@goStart" Disabled="@StartDisabled" OtherClasses="@otherClasses">
			<i class="fas fa-angle-double-left"></i>
		</MatchDayHeaderButton>

		@*<button class="@(RootClass)__btn-close @(RootClass)__btn btn" @onclick="goPrev" disabled="@StartDisabled">
			<i class="fas fa-angle-left"></i>
		</button>*@

		@{
			otherClasses.Clear();
			otherClasses.AddLast($"{RootClass}__btn-close");
			otherClasses.AddLast($"{RootClass}__btn");
		}

		<MatchDayHeaderButton OnClick="@goPrev" Disabled="@StartDisabled" OtherClasses="@otherClasses">
			<i class="fas fa-angle-left"></i>
		</MatchDayHeaderButton>
	</div>
	<div class="form-group">
		<select class="@(RootClass)__day-select form-control" @bind="@CurrentIndex" >
			@if (DaysEmpty) {
				<option value="@(default(Tday))">Aucune journée</option>
			}
			else {
				@for (int i = 0; i < Days.Count; i++) {
					<option value="@i">@DayToString(Days[i])</option>
				}
			}
		</select>
	</div>
	<div class="@(RootClass)__next-group @(RootClass)__btn-group btn-group" @onclick="goNext" disabled="@EndDisabled">
		@*<button class="@(RootClass)__btn-close @(RootClass)__btn btn">
			<i class="fas fa-angle-right"></i>
		</button>*@

		@{
			otherClasses.Clear();
			otherClasses.AddLast($"{RootClass}__btn-close");
			otherClasses.AddLast($"{RootClass}__btn");
		}

		<MatchDayHeaderButton OnClick="@goNext" Disabled="@EndDisabled" OtherClasses="@otherClasses">
			<i class="fas fa-angle-right"></i>
		</MatchDayHeaderButton>

		@*<button class="@(RootClass)__btn-far @(RootClass)__btn btn" @onclick="goEnd" disabled="@EndDisabled">
			<i class="fas fa-angle-double-right"></i>
		</button>*@

		@{
			otherClasses.Clear();
			otherClasses.AddLast($"{RootClass}__btn-far");
			otherClasses.AddLast($"{RootClass}__btn");
		}

		<MatchDayHeaderButton OnClick="@goEnd" Disabled="@EndDisabled" OtherClasses="@otherClasses">
			<i class="fas fa-angle-double-right"></i>
		</MatchDayHeaderButton>
	</div>
</div>
