@*
Copyright 2021 Romain Ducher

This file is part of Cielo.NET Razor.

Cielo.NET Razor is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cielo.NET Razor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.
*@

<tr class="@((this as IRootClass).CssClasses)">
	<RankingCell CellElt="@CellElt" CellClass="rank">@RankCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="team">@TeamCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="matches">@MatchesCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="wins">@WinsCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="draws">@DrawsCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="losses">@LossesCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="gf">@GoalsForCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="ga">@GoalsAgainstCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="gd">@GoalsDifferenceCell</RankingCell>
	<RankingCell CellElt="@CellElt" CellClass="pts">@PtsCell</RankingCell>
</tr>
