@*
Copyright 2021 Romain Ducher

This file is part of Cielo.NET Razor.

Cielo.NET Razor is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cielo.NET Razor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.
*@

@using System.Globalization
@*TODO : ajouter la classe ranking-line. *@
<RankingRow OtherClasses="OtherClasses" CellElt="td">
	<RankCell><strong>@Position</strong></RankCell>
	<TeamCell><strong>@Ranking.Team.Name</strong></TeamCell>
	<MatchesCell>@Ranking.Matches</MatchesCell>
	<WinsCell>@Ranking.Wins</WinsCell>
	<DrawsCell>@Ranking.Draws</DrawsCell>
	<LossesCell>@Ranking.Losses</LossesCell>
	<GoalsForCell>@Ranking.GoalsFor</GoalsForCell>
	<GoalsAgainstCell>@Ranking.GoalsAgainst</GoalsAgainstCell>
	<GoalsDifferenceCell>@string.Format("{0:+#;-#;0}", @Ranking.GoalsDifference)</GoalsDifferenceCell>
	<PtsCell>
		<strong>
			@string.Format(
				CultureInfo.CurrentCulture,
				@CieloRazorUtils.GetDoubleFormatter(@PtsPrecision),
				@Ranking.Points
			)
		</strong>
	</PtsCell>
</RankingRow>
