@*
Copyright 2021 Romain Ducher

This file is part of Cielo.NET Razor.

Cielo.NET Razor is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cielo.NET Razor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with Cielo.NET Razor. If not, see <http://www.gnu.org/licenses/>.
*@

@{
	string rowRootClass = RankingRow.ROOT_CLASS;
	List<Ranking> rankings = Standings.Rankings;
}

<table class="@((this as IRootClass).CssClasses)">
	<colgroup>
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__team-column" />
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__column" />
		<col class="@(rowRootClass)__column" />
	</colgroup>
	<thead class="@(RootClass)__header">
		<RankingRow CellElt="th">
			<RankCell>#</RankCell>
			<TeamCell>Club</TeamCell>
			<MatchesCell><abbr title="Matches joués">J</abbr></MatchesCell>
			<WinsCell><abbr title="Victoires">G</abbr></WinsCell>
			<DrawsCell><abbr title="Nuls">N</abbr></DrawsCell>
			<LossesCell><abbr title="Défaites">D</abbr></LossesCell>
			<GoalsForCell><abbr title="Buts marqués">BP</abbr></GoalsForCell>
			<GoalsAgainstCell><abbr title="Buts encaissés">BC</abbr></GoalsAgainstCell>
			<GoalsDifferenceCell><abbr title="Différence de but">Diff.</abbr></GoalsDifferenceCell>
			<PtsCell><abbr title="Points marqués">Pts</abbr></PtsCell>
		</RankingRow>
	</thead>
	<tbody class="@(RootClass)__body">
		@for (int i = 0; i < rankings.Count; i++) {
			<RankingLine Position="i+1" Ranking="rankings[i]" PtsPrecision="PtsPrecision" />
		}
	</tbody>
</table>
